body{
	background-color: rgb(29, 33, 38);
	color: rgb(255, 255, 255);
	font-family: "Century Gothic";
	margin: 0;
	min-width:720px;
	padding-bottom: 100px;
}

.container{
	width: 70%;
	margin: auto;
	overflow: auto;
	border: 2px solid rgb(43, 190, 138);
	border-radius: 10px;
	box-shadow: 10px -10px 100px;
	}

#banner{
	text-align: center;
	font-size: 4em;
	margin-top: 0px;
}

#menu{
	width: 10%;
	border: 3px solid black;
	border-radius: 10px;
	padding: 5px;
	text-align: center;
	list-style-type: none;
	position: fixed;
	left: 0%;
	bottom: 50%;
}
nav li{
	padding: 5px;
	font-size: 1.2em;
}

a{	
	color: rgb(255,255,255);
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

#currentTab{
	color: rgb(43, 190, 138);
}

main{
	margin:0 auto;
	border: 5px solid black;
	padding-bottom: 10px;
}

main p{
	font-size: 1.5em;
	text-align: center;
	margin-right: 10%;
	margin-left: 10%;
	font-weight: normal;
	letter-spacing: 1.5px;
	line-height: 35px;

}

 img{
	width: 70%;
	display: block;
	margin: 10px auto;
	border-radius: 15px;		
}

iframe{
	display: block;
	width: 70%;
	border-radius: 10px;
	margin: 10px auto;
	padding: 10px;
}

fieldset{
	width: 300px;
	padding: 20px;
	margin: 20px auto;
	border: 3px solid white;
	border-radius: 5px;
}

input{
	width: 150px;
	border-radius: 3px;
}
label{
	width: 100px;
	float: left;
}

.radioGroup{
	display: inline-block; /*This puppy right here helps with stacking the radio buttons*/
}
.radio{
	width: 75px;
	vertical-align: top; /*Helps with stacking radio buttons*/
}


input[type="radio"]{
	width: 5px;
	margin-left: 0px;
	margin-right: 10px;

}
form{
	line-height: 25px;
}
div input[type="submit"]{
	color: white;
	background-color: gray;
	border:1px solid white;
	font-family: "century gothic"; 
	font-size: 1em;
	width: 10%;
	display: block;
	margin: auto;
}

div input[type="submit"]:hover
{
	background-color: darkgrey;
}
div input[type="submit"]:active
{
	border-style: 5px inset;
}