body{
	background-color: rgb(11, 110, 153);
	color: rgb(243, 132, 7);
	font-family: "Century Gothic";
	margin: 0;
	min-width: 60%;
}

.container{
	width: 60%;
	margin: auto;
	overflow: auto;
	border: 5px solid black;
	border-radius: 10px;
}

#banner{
	text-align: center;
	font-size: 4em;
	margin-top: 0px;
}

#menu{
	width: 75px;
	height: 100px;
	border: 3px solid black;
	border-radius: 10px;
	padding: 2px;
	text-align: center;
	list-style-type: none;
	position: fixed;
	left: 0%;
	bottom: 50%;
}

nav a{
	color: rgb(255,255,255);
	text-decoration: none;
}

#currentTab{
	color: rgb(43, 190, 138);
}

}
main{
	margin:0 auto;
	border: 5px solid black;
}
main ul{
	padding: 0;
	margin: 0px auto;
	display: block;
	list-style-type: none;
	width: 80px;
	text-align: center;
	position-bottom: 50%;
}
main li{
	margin: 0px auto;
	text-align: center;
	margin: auto;
}
main p{
	text-align: center;
}

img{
	width: 30%;
	height: 23%;
	border-radius: 10px;
}
