body{
	background-color: rgb(11, 110, 153);
	color: rgb(243, 132, 7);
	font-family: "Century Gothic";
}

#banner{
	text-align: center;
	font-size: 4em;
	margin-top: 0px;
}

#menu{
	width: 75px;
	height: 100px;
	border: 3px solid black;
	border-radius: 10px;
	padding: 2px;
	text-align: center;
	list-style-type: none;
	position: fixed;
	left: 0;
	bottom: 200;
}

nav #currentTab{
	color: rgb(43, 190, 138);
}

main ul{
	text-align: center;
	list-style-type: none;
}
